{% extends 'task2.html' %}
{% block content %}
<!DOCTYPE html>
<head>
<title>vehicle A</title>
</head>
{% load static %}
<script src="{% static 'js/firstone.js' %}" type="text/javascript">
</script>
<body>
<h1>vehicle A</h1>
<form method="POST" onsubmit="return validate">
{% csrf_token %}
Product Name:<input type="text" id="name" placeholder="Product Name" name="productname"><br><br>
Weight:<input type="text" id="weight" placeholder="Weight" name="weight"><br><br>
<button type="submit" onclick="validate()" id="btn">Submit</button><br><br>
</form>
<a href="veh1/details">View Details</a>
</body>
</html>
{% endblock %}